/* Position and center the image to scale nicely on all screens */
.page-two-bg {
  background-image: url("../images/cloud-tower.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.character-image img {
  max-width: 40rem;
  max-height: 40rem;
  border-radius: 50%;
  float: right;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}