/* Position and center the image to scale nicely on all screens */
.page-two-bg {
  background-image: url("../images/cloud-tower.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.character-image img {
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 50%;
  float: right;
  padding: 2.5rem;
}

.garden img {
  max-width: 30rem;
  max-height: 30em;
  border-radius: 50%;
  float: left;
  padding: 2.5rem;
}