nav ul {
  background: linear-gradient(45deg, rgb(234, 163, 100), rgb(212, 0, 255));
  list-style: none;
  margin: 0;
}

nav a {
  font-family: Chakra Petch;
  display: block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  /* text-shadow: white 3px 3px 5px; */
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(234, 163, 100),
  0 0 82px rgb(234, 163, 100),
  0 0 92px rgb(234, 163, 100),
  0 0 102px rgb(234, 163, 100),
  0 0 151px rgb(234, 163, 100);
}

nav a.active {
  -webkit-animation: flicker 2s infinite;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(234, 163, 100),
  0 0 82px rgb(234, 163, 100),
  0 0 92px rgb(234, 163, 100),
  0 0 102px rgb(234, 163, 100),
  0 0 151px rgb(234, 163, 100);
}

@media (width > 50rem) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}